/* CSS Document */

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
}
/*#pos_topo{*/
    /*display:block;*/
    /*position:fixed;*/
    /*top:5px;*/
    /*left:5px;*/
    /*width:100%;*/
    /*height:80px;*/
    /*border:1px solid #000000;*/
/*}*/
#pos_lateral{
    background-image: url("../img/sistema/fundo.png");
    position:fixed;
    display:block;
    top:90px;
    left:5px;
    width:120px;
    height:383px;
    border:1px solid #000;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    float: left;
}
#pos_img_logo{
    position:fixed;
    top: 5px;
    width:200;
}
#pos_dados_tdc{
    position:fixed;
    top:6px;
    left:180px;
    text-align:left;
}
#pos_num_minuta{
    display:block;
    position:fixed;
    right:-1px;
    top:-1px;
    width:140px;
    height:80px;
    border:1px solid #000000;
    text-align:center;
}
/*#pos_dados_gerais{
    position:fixed;
    top:90px;
    left:159px;
    display:block;
    height:40px;
    width:425px;
    border:1px solid #000;
    font-size:10px;
    font-weight:bold;
}*/
/*#pos_dados_comentario{
    position:fixed;
    top:135px;
    left:159px;
    display:block;
    height:40px;
    width:425px;
    border:1px solid #000;
    font-size:10px;
    font-weight:bold;
}*/
/*#pos_banco{
    position:fixed;
    top:30px;
    left:588px;
    display:block;
    border:1px solid #000;
    font-size:10px;
    font-weight:bold;
    width:137px;
    height:85px;
    text-align:center;
    float: right;
}*/
/*#pos_dados_sacado{
    position:fixed;
    display:block;
    top:180px;
    left:159px;
    width:566px;
    height:150px;
    border:1px solid #000;
    font-size:11px;
    font-weight:bold;
}*/
/*#pos_valor_ext{*/
    /*position:fixed;*/
    /*display:inline-block;*/
    /*top:333px;*/
    /*left:159px;*/
    /*width:566px;*/
    /*height:45px;*/
    /*border:1px solid #000;*/
    /*font-size:11px;*/
    /*font-weight:bold;*/
/*}*/
/*#pos_valor_ext_tit{*/
    /*background-color:#000;*/
    /*position:fixed;*/
    /*float: left;*/
    /*display:block;*/
    /*top:333px;*/
    /*left:159px;*/
    /*width:100px;*/
    /*height:45px;*/
    /*border:1px solid #000;*/
    /*font-size:11px;*/
    /*font-weight:bold;*/
    /*text-align:center;*/
    /*color:#ffffff;*/
    /*border: 1px;*/
/*}*/
/*#pos_valor_ext_val{*/
    /*position: fixed;*/
    /*display:block;*/
    /*top:333px;*/
    /*left:261px;*/
    /*width:464px;*/
    /*height:45px;*/
    /*border:1px solid #000;*/
    /*font-size:12px;*/
    /*font-weight:bold;*/
    /*text-align:left;*/
/*}*/
/*#pos_orientacao{*/
    /*position:fixed;*/
    /*display:block;*/
    /*top:379px;*/
    /*left:159px;*/
    /*width:566px;*/
    /*height:45px;*/
    /*border:1px solid #000;*/
    /*font-size:11px;*/
    /*font-weight:bold;*/
/*}*/
/*#pos_assinatura{*/
    /*position:fixed;*/
    /*display:block;*/
    /*top:428px;*/
    /*left:159px;*/
    /*width:566px;*/
    /*height:45px;*/
    /*border:1px solid #000;*/
    /*font-size:11px;*/
    /*font-weight:bold;*/
/*}*/
/*#pos_assinatura_data{*/
    /*position:fixed;*/
    /*display:block;*/
    /*top:428px;*/
    /*left:159px;*/
    /*width:200px;*/
    /*height:45px;*/
    /*border:1px solid #000;*/
    /*font-size:11px;*/
    /*font-weight:bold;*/
    /*text-align:center;*/
/*}*/
/*#pos_assinatura_ass{*/
    /*position:fixed;*/
    /*display:block;*/
    /*top:428px;*/
    /*left:360px;*/
    /*width:365px;*/
    /*height:45px;*/
    /*border:1px solid #000;*/
    /*font-size:11px;*/
    /*font-weight:bold;*/
    /*text-align:center;*/
/*}*/

#pos_mot{
    display:block;
    position:fixed;
    top:600px;
    left:5px;
    width:720px;
    height:60px;
    border:1px solid #000000;
    text-align:center;
}

#pos_tit{
    display:block;
    position:fixed;
    top:477px;
    left:5px;
    width:720px;
    height:25px;
    border:1px solid #000000;
    text-align:left;
}
/*#pos_dados{*/
    /*display:block;*/
    /*position:fixed;*/
    /*top:503px;*/
    /*left:5px;*/
    /*width:720px;*/
    /*border:0px solid #000000;*/
/*}*/
#pos_final{
    position:relative;
    top:5px;
    left:5px;
    display:block;
}
/*.tbela{*/
    /*width:720px;*/
    /*text-align:center;*/
    /*font-weight:bold;*/
    /*border:1px solid #000000;*/
/*}*/



.centrotfrete{
    margin-top:9px;
}
.tfretecentro1{
    display:inline;
    margin-left:3px;
}
.tfretecentro{
    display:inline;
    margin-left:10px;
}
.tnf1{
    display:inline;
    margin-left:3px;
}
.tnf{
    display:inline;
    margin-left:45px;
}
.margintop{
    margin-top:6px;
}
.marginleft{
    margin-left:10px;
}
.negrito{
    font-weight:bold;
    font-size:11px;
}
.sublinhado{
    text-decoration:underline;
}
.fontminuta{
    font-size:16px;
    font-weight:bold;
}
.fontnum{
    font-size:18px;
    font-weight:bold;
}
.negsub{
    font-weight:bold;
    text-decoration:underline;
}
.linha{
    border-top:1px solid #000000;
}